[Unit]
Description=wire-web-ets
After=network.target

[Service]
ExecStart=/home/jenkins/wire-web-ets/debian/run.sh
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wire-web-ets

[Install]
WantedBy=default.target
